.icon-email-r {
  width: 1em;
  height: 1em;
  fill: tomato;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: #114b5f;
}
.icon-phone-r {
  width: 1em;
  height: 1em;
  fill: tomato;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-place-r {
  width: 1em;
  height: 1em;
  fill: tomato;
}
.icon-place {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: tomato;
}
