@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700&subset=cyrillic');
/* 3rd party styles */
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/modular-scale/stylesheets/modularscale";

$ff: 'Arsenal', sans-serif;

$base-fosz: 15px;
$text-color: #114B5F;
$link-color: #0288D1;

$modularscale: (
  base: 12px $base-fosz,
  ratio: 1.5
);

/* init styles */
* {
	box-sizing: border-box;
}
body {
	font-family: $ff;
	font-size: $base-fosz;
	line-height: 1.5;
	color: $text-color;
	margin: 0;
	overflow-x: hidden;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: darken($link-color, 10);
		text-decoration: underline;
	}
}